---
layout: page
title: Tags
description: "所有的记忆"
header-img: "img/bay.jpg"
---

<div class="one-tag-list">
    {% for tag in site.tags %}
    <span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
        <span class="tag-text">{{ tag[0]}}</span>
    </span>
    <ul class="one-tag-list">
        {% assign pages_list = tag[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<span class="entry-date"> ~ <time
                        datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date:
                        "%b
                        %d, %Y" }}</time></a></li>
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
    </ul>
    {% endfor %}
</div>